input[type="submit"] {
    font-family: "Inter-ExtraBold", sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1rem;
    color: grey;
    background: white;
    border: 2px solid grey;
    padding: 15px 30px;
    width: 45%;
}