section.form {
    margin: 50px 15% 100px 15%;
    display: flex;
    background: rgb(242, 241, 241);
    min-height: 700px;


    //tablette
    @media screen and (max-width : 870px){
        margin: 50px 3% 100px 3%;
    }
}