section.story {
    /* haut | droit | bas | gauche */   
    margin: -10px 15% 0 15%;
    background-color: white;
    padding: 100px 0;
    .main {
        @include centerChild;
        justify-content: space-around;
        min-height: 1200px;

        h2 {
            font-size: 3.8rem;
            text-align: center;
            text-transform: uppercase;
            margin-top: 200px;
            color: black;
            padding: 0 20%;
            margin-top: 50px;
            
        }
    
        p {
            font-size: 1rem;
            font-style: italic;
            color: black;
            padding: 0 20%;
            text-align: center;
            line-height: 3;
            margin-bottom: 50px;
        }

        p:first-of-type {
            font-style: normal;
            font-size: 1.4rem;
            padding: 0;
            position: relative;
        }

        p:first-of-type::before, p:first-of-type::after  {
            content: ''; /* Contenu vide pour le pseudo-élément */
            position: absolute;
            top: 50%; /* Position à la moitié de la hauteur du paragraphe */
            width: 200%; /* Ou une largeur fixe selon le design que vous souhaitez */
            height: 2px; /* Hauteur de la ligne */
            background: #bfbbbb65; /* Couleur de la ligne */
        }

        p:first-of-type::before {
            left: -250%; /* Positionnez à gauche du texte */
          }
          
        p:first-of-type::after {
            right: -250%; /* Positionnez à droite du texte */
          }

        .img {
            background: url(../../../assets/images/pic01.jpg) center/cover;
            width: 80%;
            height: 700px;
            margin-bottom: 50px;
        }
    }

}