@font-face {
  font-family: "Inter-ExtraBold";
  src: url(../fonts/Inter-ExtraBold.ttf);
}
@font-face {
  font-family: "MerriweatherLight";
  src: url(../fonts/Merriweather-Light.ttf);
}
body {
  background: url(../images/bg.jpg) center fixed;
}

h1 {
  font-family: "Inter-ExtraBold", sans-serif;
  letter-spacing: 5px;
}

p {
  font-family: "MerriweatherLight", sans-serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}
header h1 {
  font-size: 5rem;
  text-align: center;
  text-transform: uppercase;
  margin-top: 200px;
  color: white;
}
header p {
  font-size: 1.2rem;
  font-style: italic;
  color: white;
}
header .circle-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70px;
  height: 70px;
  font-size: 1.6rem;
  color: white;
  border: solid white 2px;
  border-radius: 120px;
  margin-top: 50px;
}

nav {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 255, 255, 0.212);
  margin-top: 150px;
  font-family: "Inter-ExtraBold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 0.8rem;
  height: 100%;
}
nav ul:first-of-type {
  width: 50%;
  padding-left: 0px;
}
nav ul:first-of-type li:first-of-type {
  background: rgb(244, 242, 242);
}
nav ul:first-of-type li:first-of-type a {
  color: black;
}
nav ul:nth-of-type(2) {
  width: 30%;
  font-size: 1.6rem;
  padding-left: 0px;
  padding-right: 2%;
}
nav li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  height: 100%;
  padding: 0 2%;
}
nav a {
  text-decoration: none;
  color: white;
}

section.story {
  /* haut | droit | bas | gauche */
  margin: -10px 15% 0 15%;
  background-color: white;
}
section.story .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}/*# sourceMappingURL=index.css.map */