//fonts
@font-face {
    font-family: "Inter-ExtraBold";
    src: url(../fonts/Inter-ExtraBold.ttf);
}

@font-face {
    font-family: "MerriweatherLight";
    src: url(../fonts/Merriweather-Light.ttf);
}

// variables


// mixins
@mixin centerChild {
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
}

// réglages généraux

body {
    background: url(../images/bg.jpg) center fixed;

    //tablette
    @media screen and (max-width : 870px) {
        background-attachment: scroll;
    }
}

h1 {
    font-family: "Inter-ExtraBold", sans-serif;
    letter-spacing: 5px;
}

h2 {
    font-family: "Inter-ExtraBold", sans-serif;
    letter-spacing: 5px;
}

h3 {
    font-family: "Inter-ExtraBold", sans-serif;
    letter-spacing: 5px;
}

p {
    font-family: "MerriweatherLight", sans-serif;
}

label {
    font-family: "Inter-ExtraBold", sans-serif;
    letter-spacing: 5px;
}