// variables


// mixins
@mixin centerChild {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

// réglages généraux

body {
    background: url(../images/bg.jpg) center fixed;
}

h1 {
    color: white;
}

p {
    color: white;
}